<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Gustavo Ferreira</string>
	<key>developerURL</key>
	<string>http://hipertipo.com/</string>
	<key>html</key>
	<integer>1</integer>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>init-RF-extension.py</string>
	<key>name</key>
	<string>hTools2</string>
	<key>repository</key>
	<string>gferreira/hTools2_extension</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>timeStamp</key>
	<real>1418084596.238163</real>
	<key>version</key>
	<string>1.6</string>
</dict>
</plist>
