<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Gustavo Ferreira</string>
	<key>developerURL</key>
	<string>http://hipertipo.com/</string>
	<key>html</key>
	<integer>1</integer>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>init-RF-extension.py</string>
	<key>name</key>
	<string>hTools2</string>
	<key>repository</key>
	<string>gferreira/hTools2</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>summary</key>
	<string>A bundle of tools to help with common type design tasks.</string>
	<key>timeStamp</key>
	<real>1484492243.9669681</real>
	<key>version</key>
	<string>1.7</string>
</dict>
</plist>
